@using Core.Utilites.Results
@using Entity.Concrete

@{
    ViewData["Title"] = "EditMovie";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@model Entity.Concrete.Movie

<h1>Filmi Düzenle</h1>

@using (Html.BeginForm("EditMovie","Movie",FormMethod.Post)) {
    @Html.Label("Film ID'si")
    @Html.TextBoxFor(x=>x.MovieId,new{@class="form-control"})
    <br />
    @Html.Label("Film İsmi")
    @Html.TextBoxFor(x=>x.MovieName,new{@class="form-control"})
        <br />
    @Html.Label("Film Thumbnail URL")
    @Html.TextBoxFor(x=>x.BlogThumbnailImage,new{@class="form-control"})
         <br />
    @Html.Label("Fim Resmi URl")
    @Html.TextBoxFor(x=>x.MovieImage,new{@class="form-control"})

        <br />
    @Html.Label("Film Derecesi")
    @Html.TextBoxFor(x=>x.MovieRate,new{@class="form-control"})
        <br />
    @Html.Label("Film Çıkış Tarihi")
    @Html.TextBoxFor(x=>x.ReleaseYear,new{@class="form-control"})

        <br />
    @Html.Label("Film Süresi")
    @Html.TextBoxFor(x=>x.RunnigTime,new{@class="form-control"})

        <br />
    @Html.Label("Film Ülkesi")
    @Html.TextBoxFor(x=>x.MovieCountry,new{@class="form-control"})

        <br />
    @Html.Label("Film Kategorisi")
    @Html.DropDownListFor(x=>x.CategoryId , (List<SelectListItem>)ViewBag.values , new {@class="form-control"})

        <br />
    @Html.Label("Film Hakkında")
    @Html.TextAreaFor(x=>x.MovieContent,new{@class="form-control"})

    <br />

    <button class="btn btn-success">Güncelle ! </button>
}

